*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* navbar start */
a{
    text-decoration: none;
}
.text-justify{
    text-align: justify;
}
header .tophead{
    width: 100%;
    height: 28px;
    background: #34313a;
}
header .tophead .leftgroup ul li{
    margin: 0px 20px;
}
header .tophead .leftgroup ul li a{
    color: #fff;
    font-size: 13px;
}

header .tophead .leftgroup ul li a:hover{
    text-decoration: underline;
}
header .tophead .rightgroup ul li{
    margin: 0px 15px;
}
header .tophead .rightgroup ul li a{
    color: #fff;
    font-size: 13px;
}
header .tophead .rightgroup ul li a:hover{
    text-decoration: underline;
}
header .tophead .rightgroup ul li select{
    background: #34313a;
    color: #fff;
    border: none;
    font-size: 13px;
}
.navbar-light form button{
    background: #b00000;
    border-radius: 7px;
    border: none;
    width: 150px;
    height: 35px;
    text-align: center;
    padding-top: 3px;
    margin-top: 7px;
   
}
.mega-menu{
    display: none;
    
}
.nav-item:hover .mega-menu{
    background: #34313a;
    display: block;
    position: absolute;
    margin-top: 28px;
    left: 0;
    right: 0;
}
.mega-menu .choose-us{
   
    padding-right: 50px;
}
.mega-menu .choose-us .abc:hover{
    font-weight: 600;
    transform: scale(1.1);
    
}
.mega-menu .about-ags .xyz:hover{
    font-weight: 600;
    transform: scale(1.0.5);
    
}

/* navbar end */

/* slider section start */
.carousel-inner .carousel-item{
    height: 500px;
}
@keyframes zoomin{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.3);
    }
}
.carousel-inner .carousel-item img{
    animation: zoomin 20s infinite;
}
.carousel-dark .carousel-indicators [data-bs-target]{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.carousel-inner .carousel-item .carousel-caption{
    bottom: 4.25rem;
}
.carousel-indicators{
    bottom: 3rem;
}
/* slider section end */

/* international removel section start */

.interbox{
    min-height: 200px;
    margin-top: -50px;
    z-index: 9;
    background: #fff;
}
.interbox p{
    font-size: 16px;
    font-weight: 600;
    color: #292b2c;
}
.interbox h1{
    color:#b00000
}
.interbox a{
    color:#b00000
}

/* international removel section end */


/* individual and corporation section start  */

.imgbox{
    overflow: hidden;
}
.imgbox img:hover{
    transform: scale(1.1);
    transition: 1s all;
}

.row .whiteBtn{
    box-sizing: border-box;
    width: fit-content;
    float: left;
    margin-right: 20px;
}
.row .whiteBtn a{
    color: #b00000;
    display: flex;
    margin: auto;
    font-size: 14px;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid #b00000;
    text-align: center;
    font-weight: 600;
    padding: 8px 30px;
}
.row .whiteBtn a:hover{
    transition: .5s all;
    color: #fff;
    background: #b00000;
    
}
.row .redBtn{
    box-sizing: border-box;
    border: none;
    width: fit-content;
    float: left;
}
.row .redBtn a{
    display: flex;
    margin: auto;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #b00000;
    color: #fff;
    padding: 10px 30px;
    font-weight: 600;
}

/* individual and corporation section end  */



/* domestic section start */

.domestic{
    background: #34313a;
}
.domestic .col-md-2{
    margin-right: 8px;
}
.domestic img:hover{
    transform: scale(1.1);
} 

/* domestic section end */


/* client section start */

.client h2{
    color: #b00000;
}
.client img{
    width: 300px;
    height: 120px;
    margin-right: 25px;
}

/* client section end*/


/* world section start */

.world{
    background: url(../img/removals_bg.jpg);
    background-size: cover;
    margin-top: 30px;
    margin-bottom: 30px;
}
.world .redBtn{
    margin-left: 380px;
}
.worldwide .whiteBtn{
    margin-left: 300px;
    margin-top: 30px;
    display: flex;
}
.worldwide .redBtn{
    margin-right: 400px;
    margin-top: 30px;
    display: flex;
    
}

/* world section end */


/* footer section start  */

footer img{
    width: 200px;
    margin-bottom: 14px;
    
}
footer a:hover{
    text-decoration: underline;
}
footer button{
    background: #b00000;
    border-radius: 7px;
    border: none;
    width: 150px;
    height: 35px;
    text-align: center;
    padding-top: 3px;
    margin-top: 7px;
}
 footer .col-md-6{
    margin-top: 25px;
 } 

 footer .glob{
    width: 80px;
 }
/* footer section end */


/* Branches.html styling */

/* img section styling start */
.network-img img{
    width: 100%;
    height: 500px;
}

/* img section styling end */


/* benifit section start */

.benifit{
    min-height: 220px;
    min-width: 1200px;
    margin-top: -50px;
    z-index: 9;
    background: #fff;
    border-bottom: none ;
}
.benifit h1{
    
    font-weight: 300;
    color: #b00000
}
.benifit p{
    font-size: 16px;
    font-weight: 500;
    color: #292b2c;
    margin-left: 90px;
    margin-right:  90px;;
}



/* benifit section end */

/* country section start */

.table{
    padding: 10px 0 25px;
    display: block;
    columns: 6;
}
.table ul li a{
    color: #34313a;
    font-weight: 400;
}
.table ul li a:hover{
    color: #b00000;
}

/* country section end */


/* Media queary start */
@media only screen and (max-width:1024px){
    header .tophead{
        display: none;
    }

}

@media only screen and (min-width:768px){
    .carousel-inner .carousel-item .carousel-caption{
        bottom: 9.5rem !important;
    }
    .carousel-indicators{
        bottom: 9rem;
    }
    

}

@media only screen and (max-width:1024px){
    .worldwide .whiteBtn{
        margin-left: 0;
    }
}


/* Media queary end */